/* Navbar */

nav {
  color: #000000;
  background-color: #ffffff;
  margin-top: 1em;
  justify-content: space-between;
  height: 3em;
  width: 95vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: #000000 solid 2px;
  box-shadow: 3px 3px 0px rgb(0, 0, 0);
}

nav ul {
  display: flex;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

nav li {
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav li p {
  color: #000000;
  margin-right: 1em;
}

.nav-bar-options-container {
  width: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar-options {
  font-weight: 400;
  color: #000000;
}

.nav-bar-options:hover {
  color: #f9bc60;
  cursor: pointer;
}

nav li h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.btn-auth {
  color: #000000;
  border-radius: 0.5em;
  font-weight: bold;
  background-color: #f9bc60;
  padding: 10px;
  margin: 0 2px;
  border: #000000 solid 2px;
  text-decoration: none;
}

.btn-auth:hover {
  cursor: pointer;
  filter: saturate(200%)

}
